body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

/* =================
	 Typography
	 ================= */

h1 {
	font-family: 'Lora', sans-serif;
}

header {
	/* border: 2px solid magenta; */
	text-align: center;
	background: #f8f8f8;
	padding: 2em 0;
}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

nav li {
	margin: 0 1em;
}

nav a {
	text-decoration: none;
}

nav a:hover,
nav a:focus {

}