body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

nav ul {
	border: 1px solid magenta;
	list-style: none;
	padding: 0;
	display: flex;
}

nav li {
	border: 2px dotted orange;
	margin: 0 1em;
}

nav a {
	border: 3px solid green;
	text-decoration: none;
}

nav a:hover,
nav a:focus {

}